.nav-container {
	-fx-background-color: darkgray;
	-fx-min-height: 100px;

	-fx-alignment: center;
	-fx-spacing: 20px;
}

.table-element {
	-fx-text-alignment: justify;
}

.chat-input {
	-fx-min-width: 240px;
}

.chat-submit {
	-fx-min-width: 100px;
}
